body
{
  background-color: #EBF7E3;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h1, h2, h3
{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#header
{
  grid-area: hd;
  background-color: #FF0000; //#9BD770
}

#database
{
  grid-area: db;
  background-color: #FF0000;
}

#instructions
{
  grid-area: instruct;
  background-color: #FF0000;
}

#footer
{
  grid-area: ft;
  background-color: #FF0000;
}

#master
{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  grid-template-areas:
  'hd  hd hd'
  'db  db instruct'
  'ft   ft ft'
}

#alien1
{
  float: left;
}

#alien2
{
  float: right;
}
